{{ include('admin/gestion/ressources/_delete_ressource_confirmation.html.twig') }}
<form action="{{ url('ressource_delete', {id: ressource.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ ressource.id) }}" />
    <input type="hidden" name="item" value="{{ ressource.id }}" />
    <button type="submit" class="text-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>
