{{ form_start(form, {'method': 'POST'}) }}
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-12 col-lg-4">
            {{ form_label(form.ratio) }}
            {{ form_widget(form.ratio, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{ form_label(form.epuisable) }}
        </div>
        <div class="col-4 controlcontainer">
            {{ form_widget(form.epuisable, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="row">
        {{ form_label(form.parents) }}
        {{ form_widget(form.parents, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('action.save'|trans) }}
    </button>

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('ressource_admin') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {% endif %}
{{ form_end(form) }}
