{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste">
        <h2 class="text-center">{{ 'label.ressource.title'|trans }}</h2>
        <a href="{{ path('ressource_add') }}" class="btn btn-link">
            {{ 'title.add.ressource'|trans }}
        </a>

        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">{{ 'label.ressource.nom'|trans }}</th>
                    <th scope="col">{{ 'label.ressource.ratio'|trans }}</th>
                    <th scope="col">{{ 'label.ressource.epuisable.title'|trans }}</th>
                    <th scope="col">{{ 'label.ressource.parents'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for r in ressources %}
                <tr>
                    <td></td>
                    <td>{{ r.nom }}</td>
                    <td>{{ r.ratio }}%</td>
                    <td>{{ r.epuisable ? '<span class="text-danger">Oui<span>':'<span class="text-success">Non<span>' }}</td>
                    <td>{{ r.parents|join(', ') }}</td>
                    <td>
                        <a href="{{ path('ressource_edit', {id: r.id}) }}" class="btn text-danger">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        {{ include('admin/gestion/ressources/_delete_form.html.twig', {ressource: r}, with_context = false) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" align="center">{{ 'errors.no_result'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}