{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block body %}
    <main id="login" class="container">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-5">
                <div class="well">
                    <form action="{{ path('security_login') }}" method="post">
                        <fieldset>
                            <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}</legend>
                            <div class="form-group">
                                <label for="username">{{ 'label.username'|trans }}</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="password">{{ 'label.password'|trans }}</label>
                                <input type="password" id="password" name="_password" class="form-control" />
                            </div>
                            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <button type="submit" class="btn btn-primary">
                                <span><i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.signin'|trans }}</span>
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}
