{{ include('admin/changelog/_delete_changelog_confirmation.html.twig') }}
<form action="{{ url('changelog_delete', {id: changelog.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ changelog.id) }}">
    <input type="hidden" name="item" value="{{ changelog.id }}" />
    <button type="submit" class="text-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>