{% form_theme form 'forms/fields.html.twig' %}

{{ form_start(form) }}
<div class="row">
    <div class="col-12 col-lg-4 form-group">
        {{ form_label(form.published_at) }}
        {{ form_widget(form.published_at, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="row">
    <div class="col-12 form-group">
        {{ form_label(form.intitule) }}
        {{ form_widget(form.intitule, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

<h2>{{ 'label.changelog.liste'|trans }}</h2>
<table class="table table-striped table-bordered" id="changelog_liste">
    <thead>
    <tr>
        <th>{{ 'label.changelog.title'|trans }}</th>
        <th>{{ 'label.changelog.quantite'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="toDuplicate" data-prototype="{{ form_widget(form.changelogBlocks.vars.prototype)|e('html_attr') }}" data-index="{{ form.changelogBlocks|length }}">
    {% if form.changelogBlocks is empty %}
        <tr class="changelogBlock toDuplicate">
            <td colspan="4" class="actionsbutton"></td>
        </tr>
    {% else %}
        {% for row in form.changelogBlocks %}
            <tr class="changelogBlock toDuplicate">
                <td>{{ form_widget(row.titre, { 'attr': {'class': 'form-control'} }) }}</td>
                <td>{{ form_widget(row.texte, { 'attr': {'class': 'form-control'} }) }}</td>
                <td class="actionsbutton"></td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
<hr />

<button type="submit" class="{{ button_css|default("btn btn-primary") }}">
    <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('action.save'|trans) }}
</button>
{{ form_end(form) }}
