{% extends 'baseadmin.html.twig' %}

{% block title %}{{ 'label.changelog.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label.changelog.edit'|trans }}</h1>

    {{ include('admin/changelog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('changelog_index') }}">{{ 'action.back_to_list'|trans }}</a>

    {{ include('admin/changelog/_delete_form.html.twig') }}
{% endblock %}
