{% extends 'baseadmin.html.twig' %}

{% block title %}{{ 'title.changelog'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.changelog'|trans }}</h1>
    <a href="{{ path('changelog_new') }}" class="btn btn-link">
        {{ 'label.changelog.add'|trans }}
    </a>

    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th>{{ 'label.changelog.published'|trans }}</th>
                <th>{{ 'label.changelog.intitule'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for changelog in changelogs %}
            <tr>
                <td>{{ changelog.publishedAt|date("d/m/Y") }}</td>
                <td>{{ changelog.intitule }}</td>
                <td>
                    <a href="{{ path('changelog_edit', {'id': changelog.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
                <td>
                    {{ include('admin/changelog/_delete_form.html.twig', {changelog: changelog}, with_context = false) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'errors.no_result'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
