{% extends 'baseadmin.html.twig' %}

{% block title %}{{ 'label.changelog.add'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label.changelog.add'|trans }}</h1>

    {{ include('admin/changelog/_form.html.twig') }}

    <a href="{{ path('changelog_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
