{% extends 'baseadmin.html.twig' %}

{% block title %}Changelog{% endblock %}

{% block body %}
    <h1>Changelog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ changelog.id }}</td>
            </tr>
            <tr>
                <th>Published_at</th>
                <td>{{ changelog.publishedAt ? changelog.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ changelog.intitule }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('changelog_index') }}">back to list</a>

    <a href="{{ path('changelog_edit', {'id': changelog.id}) }}">edit</a>

    {{ include('changelog/_delete_form.html.twig') }}
{% endblock %}
