{{ include('admin/todo_list/_delete_todo_list_confirmation.html.twig') }}
<form action="{{ url('todo_list_delete', {id: todo_list.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todo_list.id) }}">
    <input type="hidden" name="item" value="{{ todo_list.id }}" />
    <button type="submit" class="text-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>