{% extends 'baseadmin.html.twig' %}

{% block title %}{{ 'label.todolist.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label.todolist.edit'|trans }}</h1>

    {{ include('admin/todo_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('todo_list_index') }}">{{ 'action.back_to_list'|trans }}</a>

    {{ include('admin/todo_list/_delete_form.html.twig') }}
{% endblock %}
