{% extends 'baseadmin.html.twig' %}

{% block title %}TodoList index{% endblock %}

{% block body %}
    <h1>{{ 'title.todolist'|trans }}</h1>
    <a href="{{ path('todo_list_new') }}" class="btn btn-link">
        {{ 'label.todolist.add'|trans }}
    </a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{{ 'label.todolist.libelle'|trans }}</th>
                <th>{{ 'label.todolist.tags'|trans }}</th>
                <th>{{ 'label.todolist.priority'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for todo_list in todo_lists %}
            <tr>
                <td>{{ todo_list.libelle }}</td>
                <td>{{ todo_list.tags|join(', ') }}</td>
                <td>{{ todo_list.priority }}</td>
                <td>
                    <a href="{{ path('todo_list_edit', {'id': todo_list.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
                <td>
                    {{ include('admin/todo_list/_delete_form.html.twig', {todo_list: todo_list}, with_context = false) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'errors.no_result'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
