{% extends 'baseadmin.html.twig' %}

{% block title %}{{ 'label.todolist.add'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label.todolist.add'|trans }}</h1>

    {{ include('admin/todo_list/_form.html.twig') }}

    <a href="{{ path('todo_list_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
