{{ include('admin/users/_delete_user_confirmation.html.twig') }}
<form action="{{ url('user_delete', {id: user.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <input type="hidden" name="item" value="{{ user.id }}" />
    <button type="submit" class="text-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>
