<form class="" method="POST" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
    <div class="row">
        <div class="col-12 col-lg-4">
            <label>Username</label>
            <input name="username" class="form-control" id="username" value="{{ user.username }}">
        </div>
        <div class="col-12 col-lg-4">
            <label>Email</label>
            <input name="email" class="form-control" id="email" value="{{ user.email }}">
        </div>
        <div class="col-12 col-lg-4">
            <label>Mot de passe</label>
            <input name="password" class="form-control" id="password" value="">
        </div>
    </div>
    <div class="row">
        <div class="col-12 controlcontainer">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="role_admin" name="roles[]" value="ROLE_ADMIN" {{ user.role('ROLE_ADMIN') ? 'checked':'' }}>
                <label class="custom-control-label" for="role_admin">Administrateur</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="role_user" name="roles[]" value="ROLE_USER" {{ user.role('ROLE_USER') ? 'checked':'' }}>
                <label class="custom-control-label" for="role_user">Utilisateur de base</label>
            </div>
        </div>
    </div>

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.form_submit'|trans) }}
    </button>

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('user_admin') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {% endif %}
</form>
