{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste">
        <h2 class="text-center">Utilisateurs</h2>

        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">{{ 'label.fullname'|trans }}</th>
                    <th scope="col">{{ 'label.username'|trans }}</th>
                    <th scope="col">{{ 'label.email'|trans }}</th>
                    <th scope="col">{{ 'label.roles'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td></td>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('user_edit', {id: user.id}) }}" class="btn text-danger">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        {{ include('admin/users/_delete_form.html.twig', {user: user}, with_context = false) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" align="center">{{ 'errors.no_result'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}