{% block _ville_villeRessources_entry_widget %}
    <td>{{ form_widget(form.ressource, { 'attr': {'class': 'form-control'} }) }}</td>
    <td>{{ form_widget(form.quantite, { 'attr': {'class': 'form-control'} }) }}</td>
    <td>{{ form_widget(form.fertilite, { 'attr': {'class': 'form-control'} }) }}</td>
    <td class="actionsbutton"></td>
{% endblock %}

{% block _types_entreprises_productions_entry_widget %}
    <td>{{ form_widget(form.ressourcesEntrantes, { 'attr': {'class': 'form-control'} }) }}</td>
    <td>{{ form_widget(form.ressourcesSortantes, { 'attr': {'class': 'form-control'} }) }}</td>
    <td class="actionsbutton"></td>
{% endblock %}

{% block _changelog_changelogBlocks_entry_widget %}
    <td>{{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}</td>
    <td>{{ form_widget(form.texte, { 'attr': {'class': 'form-control'} }) }}</td>
    <td class="actionsbutton"></td>
{% endblock %}