{{ include('admin/gestionpays/region/_delete_pays_confirmation.html.twig') }}
<form action="{{ url('region_delete', {id: region.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ region.id) }}">
    <input type="hidden" name="item" value="{{ region.id }}" />
    <button type="submit" class="text-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>
