{{ form_start(form, {'method': 'POST'}) }}
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('action.save'|trans) }}
    </button>

    {% if include_back_to_home_link|default(false) or 1 == 2 %}
        <a href="{{ path('region_admin', {id: pays.id}) }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {% endif %}
{{ form_end(form) }}
