{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste">
        <h2 class="text-center">{{ 'label.region.title'|trans }}</h2>
        <a href="{{ path('region_add', {id: pays.id}) }}" class="btn btn-link">
            {{ 'title.add.region'|trans }}
        </a>

        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">{{ 'label.pays.title'|trans }}</th>
                    <th scope="col">{{ 'label.nom'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for region in regions %}
                <tr>
                    <td></td>
                    <td>{{ region.pays.nom }}</td>
                    <td>{{ region.nom }}</td>
                    <td>
                        <a href="{{ path('ville_admin', {id: region.id}) }}" class="btn text-info">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('region_edit', {id: region.id}) }}" class="btn text-danger">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        {{ include('admin/gestionpays/region/_delete_form.html.twig', {region: region}, with_context = false) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" align="center">{{ 'errors.no_result'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}