{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste">
        <h2 class="text-center">Recap Global</h2>

        <table class="table table-striped table-middle-aligned datatables">
            <thead>
                <tr>
                    <th scope="col">{{ 'label.recap.ville'|trans }}</th>
                    <th scope="col">{{ 'label.recap.societe'|trans }}</th>
                    <th scope="col">{{ 'label.recap.filiale'|trans }}</th>
                    <th scope="col">{{ 'label.recap.user'|trans }}</th>
                    <th scope="col">{{ 'label.recap.ressource'|trans }}</th>
                    <th scope="col">{{ 'label.recap.quantite'|trans }}</th>
                    <th scope="col">{{ 'label.recap.vente'|trans }}</th>
                    <th scope="col">{{ 'label.recap.prix'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for r in liste %}
                <tr>
                    <td>{{ r.ville.nom }}</td>
                    <td>{{ r.filiale.societe.nom }}</td>
                    <td>{{ r.filiale.nom }}</td>
                    <td>{{ r.filiale.societe.user is not null ? r.user.username:'IA' }}</td>
                    <td>{{ r.ressource is not null ? r.ressource.nom:'???' }}</td>
                    <td>{{ r.quantite }}</td>
                    <td class="text-bold {{ r.vente >= 0 ? "text-success":"text-danger" }}">{{ r.vente }}</td>
                    <td>{{ r.prixUnite }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{ 'errors.no_result'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}