{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste">
        <h2 class="text-center">Recap Ville</h2>

        <table class="table table-striped table-middle-aligned datatables">
            <thead>
            <tr>
                <th scope="col">{{ 'label.recap.ville'|trans }}</th>
                <th scope="col">{{ 'label.recap.oldargent'|trans }}</th>
                <th scope="col">{{ 'label.recap.newargent'|trans }}</th>
                <th scope="col">{{ 'label.recap.population'|trans }}</th>
                <th scope="col">{{ 'label.recap.populationUp'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for r in liste %}
                <tr>
                    <td>{{ r.ville.nom }}</td>
                    <td>{{ r.ville.argent }} €</td>
                    <td class="text-bold {{ r.argent >= 0 ? "text-success":"text-danger" }}">{{ r.argent }} €</td>
                    <td>{{ r.ville.population }}</td>
                    <td class="text-bold {{ r.population >= 0 ? "text-success":"text-danger" }}">{{ r.population }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" align="center">{{ 'errors.no_result'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}