#administration{
  header{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #sidebar{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 30px 15px;
    height: 100%;

    h3{
      text-transform: uppercase;
      font-size: 20px;
    }

    ul{
      list-style: none;
      margin-left: 30px;

        li{
          padding-top: 10px;
          padding-bottom: 10px;

          a{
            &:hover{
              color: $silver-color;
              text-decoration: none;
            }
          }
        }
    }
  }

  .customform{
    padding: 30px;

    h1{
      margin-bottom: 30px;
    }

    .row{
      margin-bottom: 30px;
    }

    .controlcontainer{
      padding: 30px;
      display: flex;

      .custom-control{
        padding: 0 30px;
      }
    }
  }

  table{
    th, td{
      vertical-align: middle;

      .addline{
        margin-right: 15px;
      }
    }
  }
}