body{
	font-family:'Roboto', sans-serif;
	size: $default-font-size;
}

.main-color{color: $first-color;}
.main-bg-color{background-color: $first-color;}

.secondary-color{color: $second-color;}
.secondary-bg-color{background-color: $second-color;}

.silver-color{color: $silver-color}
.silver-bg-color{background-color: $silver-color}

.iron-color{color: $iron-color}
.iron-bg-color{background-color: $iron-color}

.red-bg-color{background-color: $red-color}
.red-color{color: $red-color}

.color-white{color:white;}

.text-center{text-align: center;}
.text-bold{font-weight: bold;}

.to-oswald{
	font-family: 'Oswald', sans-serif;
}

.toflex{
	display: flex;
}

.topointer{
	cursor: pointer;
}


/**RECUPERATION label bootstrap **/
.label {
	$lbl-font-size: $default-font-size * 0.75;
	display: inline;
	padding: .2em .6em .3em;
	font-size:$lbl-font-size;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	position: relative;
	top: -1px;

	&:empty{
		display: none;
	}

	&.label-type{
		background-color: $first-color;
		color: white;
	}
	&.label-tags{
		background-color: $second-color;
		color: white;
		font-size: 10px;
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $silver-color;
}
::-moz-placeholder { /* Firefox 19+ */
	color: $silver-color;
}
:-ms-input-placeholder { /* IE 10+ */
	color: $silver-color;
}
:-moz-placeholder { /* Firefox 18- */
	color: $silver-color;
}

.nomargin{
	margin: 0;
}

.nopadding{
	padding: 0;
}

.slide-hover-second{
	position: relative;
	display: inline-block;
	overflow: hidden;

	span{
		position: relative;
		z-index: 100;
	}

	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		background-color: $second-color;
		display: block;
		height: 100%;
		transition: width 0.7s;
	}

	&:hover{
		color: white;
		transition: color .6s;

		&:after{
			transition: width 0.7s;
			width: 100%;
		}
	}
}