.header{
	margin: 0;

	.logo{
		text-align: center;
		
		img{
			padding: 15px;
		}
	}

	.right{
		display: flex;
		flex-direction: column;

		> div{
			flex: 1;
		}
	}

	.search{
		display: flex;

		form{
			margin: auto;
			width: 100%;
			display: flex;

			input{
				width: 80%;
				margin: auto;
				border: none;
				border-bottom: 1px solid $first-color;
				background-color: transparent;
				height: 34px;

				&:focus{
					border-bottom: 1px solid $second-color;
					outline: none;

					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						color: $second-color;
					}
					&::-moz-placeholder { /* Firefox 19+ */
						color: $second-color;
					}
					&:-ms-input-placeholder { /* IE 10+ */
						color: $second-color;
					}
					&:-moz-placeholder { /* Firefox 18- */
						color: $second-color;
					}
				}
			}
		}
	}

	.social{
		display: flex;

		> div{
			margin: auto;
			margin-left: 30px;
			font-size: 3em;

			a{
				color: $second-color;

				&:hover{
					color: $red-color;
				}
			}
		}
	}

	.menu{
		display: flex;

		ul{
			margin: auto;
			margin-left: 0;
			display: flex;
			list-style: none;
			padding-left: 0;

			li{
				padding: 15px;
				position: relative;
				text-transform: uppercase;
				font-size: 1.5em;
				
				a{					
					color: $second-color;
					display: block;
				}
				
				&:after{
					content: "";
					position: absolute;
					border-right: 1px solid black;
					top: 25%;
					right: 0;
					height: 50%;
					width: 1px;
				}

				&:last-child:after{
					content: normal;
				}

				&:hover{
					a{
						color: $red-color;
					}
				}
			}
		}
	}
}