#home{
    .mainactus{
        .single{
            display: block;

            .bandeau{
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: rgba($first-color, 0.3);
                padding: 15px;
                color: white;

                .title{
                    font-size: 3em;
                }
            }
        }

        .owl-dots{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            .owl-dot{
                span{
                    background-color: $silver-color;
                }

                &.active span{
                    background-color: $red-color;
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }

    .news{
        margin: auto;
        margin-top: 30px;

        h3{
            margin-bottom: 30px;
            padding-bottom: 30px;
            letter-spacing: 5px;
            border-bottom: 2px solid $first-color;
        }

        .single{
            padding-bottom: 30px;
            margin-bottom: 30px;
            color: initial;
            position: relative;

            &:after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 25%;
                width: 50%;
                border-bottom: 2px solid $first-color;
            }

            &:last-child:after{
                content: normal;
            }

            &:hover{
                text-decoration: none;
            }

            .title{
                margin-bottom: 15px;
                color: $second-color;
                display: block;
                font-size: 1.3em;
            }
        }
    }
}