//https://color.adobe.com/fr/create/color-wheel/?base=2&rule=Analogous&selected=2&name=Mon%20th%C3%A8me%20Color&mode=rgb&rgbvalues=0.7333333333333334,0.5592698348897263,0.21295921051097014,0.9566666666666667,0.5279549813351334,0.13149738598744773,0.8666666666666667,0.2823529411764706,0.0784313725490196,0.9566666666666667,0.07266641669305612,0.03874283559577663,0.9166666666666667,0.0371229260935142,0.594379979443871&swatchOrder=0,1,2,3,4
$first-color: #2c3e50;
$second-color: #16a085;
$silver-color: #bdc3c7;
$iron-color: #dadfe1;
$red-color: #c0392b;
$default-font-size: 14px;


/****** BOOTSTRAP *******/
$primary: $first-color;