{# Bootstrap modal, see http://getbootstrap.com/javascript/#modals #}
<div class="modal fade show" id="confirmationModal-{{ tag_todo.id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>{{ 'title.delete'|trans }} {{ tag_todo.libelle }}</h4>
                <p>{{ 'message.no_retour'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">
                    <i class="fa fa-ban" aria-hidden="true"></i> {{ 'label.cancel'|trans }}
                </button>
                <button type="button" class="btn btn-danger" id="btnYes" data-dismiss="modal">
                    <i class="fa fa-trash" aria-hidden="true"></i> {{ 'label.delete'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
