{{ include('admin/tag_todo/_delete_tag_todo_confirmation.html.twig') }}
<form action="{{ url('tag_todo_delete', {id: tag_todo.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag_todo.id) }}">
    <input type="hidden" name="item" value="{{ tag_todo.id }}" />
    <button type="submit" class="text-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>