{{ form_start(form) }}
<div class="row">
    <div class="col-12 col-lg-4 form-group">
        {{ form_label(form.libelle) }}
        {{ form_widget(form.libelle, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="col-12 col-lg-4 form-group">
        {{ form_label(form.couleurs) }}
        {{ form_widget(form.couleurs, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

<button type="submit" class="{{ button_css|default("btn btn-primary") }}">
    <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('action.save'|trans) }}
</button>
{{ form_end(form) }}
