{% extends 'baseadmin.html.twig' %}

{% block title %}TagTodo index{% endblock %}

{% block body %}
    <h1>{{ 'title.tagtodo'|trans }}</h1>
    <a href="{{ path('tag_todo_new') }}" class="btn btn-link">
        {{ 'label.tagtodo.add'|trans }}
    </a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{{ 'label.tagtodo.libelle'|trans }}</th>
                <th>{{ 'label.tagtodo.couleurs'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for tag_todo in tag_todos %}
            <tr>
                <td>{{ tag_todo.libelle }}</td>
                <td>{{ tag_todo.couleurs }}</td>
                <td>
                    <a href="{{ path('tag_todo_edit', {'id': tag_todo.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
                <td>
                    {{ include('admin/tag_todo/_delete_form.html.twig', {tag_todo: tag_todo}, with_context = false) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'errors.no_result'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
