{% extends 'baseadmin.html.twig' %}

{% block title %}{{ 'label.tagtodo.add'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label.tagtodo.add'|trans }}</h1>

    {{ include('admin/tag_todo/_form.html.twig') }}

    <a href="{{ path('tag_todo_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
