{% extends 'tag_todo_index.html.twig' %}

{% block title %}TagTodo{% endblock %}

{% block body %}
    <h1>TagTodo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag_todo.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ tag_todo.libelle }}</td>
            </tr>
            <tr>
                <th>Couleurs</th>
                <td>{{ tag_todo.couleurs }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tag_todo_index') }}">back to list</a>

    <a href="{{ path('tag_todo_edit', {'id': tag_todo.id}) }}">edit</a>

    {{ include('tag_todo/_delete_form.html.twig') }}
{% endblock %}
