{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste">
        <h2 class="text-center">{{ 'title.entreprise.title'|trans }}</h2>
        <a href="{{ path('entreprises_generate') }}" class="btn btn-link">
            {{ 'title.entreprise.generate'|trans }}
        </a>

        <table class="table table-striped table-middle-aligned">
            <thead>
            <tr>
                <th scope="col"></th>
                <th>{{ 'label.entreprise.nom'|trans }}</th>
                <th>{{ 'label.entreprise.user'|trans }}</th>
                <th>{{ 'label.entreprise.money'|trans }}</th>
                <th>{{ 'label.entreprise.nbfiliale'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% for s in liste %}
                    <tr class="societe" data-id="{{ s.id }}">
                        <td></td>
                        <td>{{ s.nom }}</td>
                        <td>{{ s.user is not null ? s.user.username:'IA' }}</td>
                        <td>{{ s.argent }}</td>
                        <td>{{ s.societeFiliales|length }}</td>
                    </tr>
                    <tr class="filiale id-{{ s.id }}" style="display: none;">
                        <td colspan="5">
                            <table class="table table-striped table-middle-aligned">
                                <thead>
                                <tr class="table-primary">
                                    <th scope="col" class="text-uppercase">{{ 'label.entreprise.filiale.titre'|trans }}</th>
                                    <th>{{ 'label.entreprise.filiale.type'|trans }}</th>
                                    <th>{{ 'label.entreprise.filiale.nom'|trans }}</th>
                                    <th>{{ 'label.entreprise.money'|trans }}</th>
                                    <th>{{ 'label.entreprise.filiale.investment'|trans }}</th>
                                    <th>{{ 'label.entreprise.filiale.level'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for f in s.societeFiliales %}
                                    <tr>
                                        <td></td>
                                        <td>{{ f.type.nom }}</td>
                                        <td>{{ f.nom }}</td>
                                        <td class="text-bold {{ f.argent >= 0 ? "text-success":"text-danger" }}">{{ f.argent }}</td>
                                        <td>{{ f.investissement }}</td>
                                        <td>{{ f.niveau }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">{{ 'errors.no_result'|trans }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">{{ 'errors.no_result'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.societe').click(function(){
            var id = $(this).data('id');
            $('.filiale').hide();
            $('.filiale.id-' + id).show();
        });
    </script>
{% endblock %}