{{ include('admin/gestionpays/pays/_delete_pays_confirmation.html.twig') }}
<form action="{{ url('pays_delete', {id: pays.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pays.id) }}">
    <input type="hidden" name="item" value="{{ pays.id }}" />
    <button type="submit" class="text-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>
