{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste customform">
        <h1>{{ 'title.add.pays'|trans }}</h1>

        {{ include('admin/gestionpays/pays/_form.html.twig', {
            button_label: 'action.save'|trans,
            include_back_to_home_link: true,
            form: form
        }, with_context = false) }}
    </main>
{% endblock %}