{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste">
        <h2 class="text-center">{{ 'label.pays.title'|trans }}</h2>
        <a href="{{ path('pays_add') }}" class="btn btn-link">
            {{ 'title.add.pays'|trans }}
        </a>

        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">{{ 'label.nom'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for p in pays %}
                <tr>
                    <td></td>
                    <td>{{ p.nom }}</td>
                    <td>
                        <a href="{{ path('region_admin', {id: p.id}) }}" class="btn text-info">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('pays_edit', {id: p.id}) }}" class="btn text-danger">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        {{ include('admin/gestionpays/pays/_delete_form.html.twig', {pays: p}, with_context = false) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" align="center">{{ 'errors.no_result'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}