<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lart'Moukis - Bibliothéque Multimédia{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="iron-bg-color" id="administration">
        {% block header %}
            <header class="header main-bg-color color-white">
                <h1 class="text-center">Administration</h1>
            </header>
        {% endblock %}
        <div class="row nomargin">
            <div class="col-2">
                {% block sidebar %}
                    <div id="sidebar" class="row flex-column main-bg-color color-white">
                        <h3 data-toggle="collapse" data-target="#adminMenu1">Gestion des Utilisateurs</h3>
                            <ul class="collapse {% if app.request.attributes.get('_route') == 'lstadmin_admin' or app.request.attributes.get('_route') == 'user_admin' %}show in{% endif %}" id="adminMenu1">
                                <li><a class="{% if app.request.attributes.get('_route') == 'lstadmin_admin' %}active{% endif %} color-white" href="{{ path('lstadmin_admin') }}">Administrateurs</a></li>
                                <li><a class="{% if app.request.attributes.get('_route') == 'user_admin' %}active{% endif %} color-white" href="{{ path('user_admin') }}">Utilisateurs</a></li>
                            </ul>
                        <h3 data-toggle="collapse" data-target="#adminMenu2">Gestions CMS</h3>
                            <ul class="collapse {% if app.request.attributes.get('_route') == 'page_index' or app.request.attributes.get('_route') == 'blog_article_index' %}show in{% endif %}" id="adminMenu2">
                                <li><a class="{% if app.request.attributes.get('_route') == 'blog_article_index' %}active{% endif %} color-white" href="{{ path('blog_article_index') }}">Actualités</a></li>
                                <li><a class="{% if app.request.attributes.get('_route') == 'page_index' %}active{% endif %} color-white" href="{{ path('page_index') }}">Pages</a></li>
                            </ul>
                        <h3 data-toggle="collapse" data-target="#adminMenu5">Changelog</h3>
                            <ul class="collapse {% if app.request.attributes.get('_route') == 'changelog_index' or app.request.attributes.get('_route') == 'todo_list_index' or app.request.attributes.get('_route') == 'tag_todo_index' %}show in{% endif %}" id="adminMenu5">
                                <li><a class="{% if app.request.attributes.get('_route') == 'changelog_index' %}active{% endif %} color-white" href="{{ path('changelog_index') }}">Changelog</a></li>
                                <li><a class="{% if app.request.attributes.get('_route') == 'todo_list_index' %}active{% endif %} color-white" href="{{ path('todo_list_index') }}">Todo Liste</a></li>
                                <li><a class="{% if app.request.attributes.get('_route') == 'tag_todo_index' %}active{% endif %} color-white" href="{{ path('tag_todo_index') }}">Todo Tags</a></li>
                            </ul>
                        <h3 data-toggle="collapse" data-target="#adminMenu3">Gestions Jeu</h3>
                            <ul class="collapse {% if app.request.attributes.get('_route') == 'pays_admin' or app.request.attributes.get('_route') == 'ressource_admin' or app.request.attributes.get('_route') == 'types_entreprises_admin' or app.request.attributes.get('_route') == 'entreprises_admin' %}show in{% endif %}" id="adminMenu3">
                                <li><a class="{% if app.request.attributes.get('_route') == 'pays_admin' %}active{% endif %} color-white" href="{{ path('pays_admin') }}">Pays</a></li>
                                <li><a class="{% if app.request.attributes.get('_route') == 'ressource_admin' %}active{% endif %} color-white" href="{{ path('ressource_admin') }}">Ressources</a></li>
                                <li><a class="{% if app.request.attributes.get('_route') == 'types_entreprises_admin' %}active{% endif %} color-white" href="{{ path('types_entreprises_admin') }}">Types d'entreprises</a></li>
                                <li><a class="{% if app.request.attributes.get('_route') == 'entreprises_admin' %}active{% endif %} color-white" href="{{ path('entreprises_admin') }}">Entreprises</a></li>
                            </ul>
                        <h3 data-toggle="collapse" data-target="#adminMenu4">Gestion du Tour</h3>
                        <ul class="collapse {% if app.request.attributes.get('_route') == 'tour_recap' or app.request.attributes.get('_route') == 'tour_recap_ville' or app.request.attributes.get('_route') == 'tour_recap_filiale' %}show in{% endif %}" id="adminMenu4">
                            <li><a class="color-white" href="{{ path('generate_new_day') }}">Générer un nouveau tour de jeu</a></li>
                            <li><a class="color-white" href="{{ path('tour_recap') }}">Recap Global</a></li>
                            <li><a class="color-white" href="{{ path('tour_recap_ville') }}">Recap Ville</a></li>
                        </ul>
                    </div>
                {% endblock %}
            </div>
            <div class="col-10">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        {% block footer %}
            <footer class="main-bg-color">
                <div class="footer-copyright">
                    <div class="container color-white">
                        Copyright © 2019 Lart'Moukis
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
