{% extends 'baseadmin.html.twig' %}

{% block title %}Edit BlogArticle{% endblock %}

{% block body %}
    <h1>{{ 'label.article.edit'|trans }}</h1>

    {{ include('admin/blog_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('blog_article_index') }}">{{ 'label.page.add'|trans }}</a>

    {{ include('admin/blog_article/_delete_form.html.twig') }}
{% endblock %}
