{% extends 'baseadmin.html.twig' %}

{% block title %}{{ 'title.article'|trans }}{% endblock %}

{% block body %}
    <h2 class="text-center">{{ 'title.article'|trans }}</h2>
    <a href="{{ path('blog_article_new') }}" class="btn btn-link">
        {{ 'label.article.add'|trans }}
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'label.article.titre'|trans }}</th>
                <th>{{ 'label.article.createdAt'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for a in blog_articles %}
            <tr>
                <td>{{ a.titre }}</td>
                <td>{{ a.createdAt|date("d/m/Y à h:i") }}</td>
                <td>
                    <a href="{{ path('blog_article_edit', {'id': a.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'errors.no_result'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
