{% extends 'baseadmin.html.twig' %}

{% block title %}New BlogArticle{% endblock %}

{% block body %}
    <h1>{{ 'label.article.add'|trans }}</h1>

    {{ include('admin/blog_article/_form.html.twig') }}

    <a href="{{ path('blog_article_index') }}" class="btn btn-link">
        <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
    </a>
{% endblock %}
