{% extends 'baseadmin.html.twig' %}

{% block title %}BlogArticle{% endblock %}

{% block body %}
    <h1>BlogArticle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog_article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ blog_article.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ blog_article.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('blog_article_index') }}">back to list</a>

    <a href="{{ path('blog_article_edit', {'id': blog_article.id}) }}">edit</a>

    {{ include('blog_article/_delete_form.html.twig') }}
{% endblock %}
