{{ include('admin/gestionpays/ville/_delete_ville_confirmation.html.twig') }}
<form action="{{ url('ville_delete', {id: ville.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
    <input type="hidden" name="item" value="{{ ville.id }}" />
    <button type="submit" class="text-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>
