{% form_theme form 'forms/fields.html.twig' %}

{{ form_start(form, {'method': 'POST'}) }}
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-12 col-lg-4">
            {{ form_label(form.population) }}
            {{ form_widget(form.population, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-12 col-lg-4">
            {{ form_label(form.argent) }}
            {{ form_widget(form.argent, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <h2>{{ 'label.ville.ressources.gestion'|trans }}</h2>
    <table class="table table-striped table-bordered" id="ressources_city">
        <thead>
            <tr>
                <th>{{ 'label.ville.ressources.title'|trans }}</th>
                <th>{{ 'label.ville.ressources.quantite'|trans }}</th>
                <th>{{ 'label.ville.ressources.fertilite'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="toDuplicate" data-prototype="{{ form_widget(form.villeRessources.vars.prototype)|e('html_attr') }}" data-index="{{ form.villeRessources|length }}">
            {% if form.villeRessources is empty %}
                <tr class="villeRessources toDuplicate">
                    <td colspan="4" class="actionsbutton"></td>
                </tr>
            {% else %}
                {% for row in form.villeRessources %}
                    <tr class="villeRessources toDuplicate">
                        <td>{{ form_widget(row.ressource, { 'attr': {'class': 'form-control'} }) }}</td>
                        <td>{{ form_widget(row.quantite, { 'attr': {'class': 'form-control'} }) }}</td>
                        <td>{{ form_widget(row.fertilite, { 'attr': {'class': 'form-control'} }) }}</td>
                        <td class="actionsbutton"></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <hr />

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('action.save'|trans) }}
    </button>

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('ville_admin', {id: region.id}) }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {% endif %}
{{ form_end(form) }}
