{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste customform">
        <h1>{{ 'title.add.ville'|trans }}</h1>

        {{ include('admin/gestionpays/ville/_form.html.twig', {
            ressources: ressources,
            region: region,
            form: form,
            button_label: 'action.save'|trans,
            include_back_to_home_link: true,
        }, with_context = false) }}
    </main>
{% endblock %}