{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste">
        <h2 class="text-center">{{ 'label.ville.title'|trans }}</h2>
        <a href="{{ path('ville_add', {id: region.id}) }}" class="btn btn-link">
            {{ 'title.add.ville'|trans }}
        </a>

        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">{{ 'label.region.title'|trans }}</th>
                    <th scope="col">{{ 'label.nom'|trans }}</th>
                    <th scope="col">{{ 'label.population'|trans }}</th>
                    <th scope="col">{{ 'label.argent'|trans }}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for v in villes %}
                <tr>
                    <td></td>
                    <td>{{ v.region.nom }}</td>
                    <td>{{ v.nom }}</td>
                    <td>{{ v.population }}</td>
                    <td>{{ v.argent }}</td>
                    <td></td>
                    <td>
                        <a href="{{ path('ville_edit', {id: v.id}) }}" class="btn text-danger">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        {{ include('admin/gestionpays/ville/_delete_form.html.twig', {ville: v}, with_context = false) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" align="center">{{ 'errors.no_result'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}