{{ include('admin/gestion/typesEntreprises/_delete_ressource_confirmation.html.twig') }}
<form action="{{ url('types_entreprises_delete', {id: types.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ types.id) }}" />
    <input type="hidden" name="item" value="{{ types.id }}" />
    <button type="submit" class="text-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>
