{% form_theme form 'forms/fields.html.twig' %}

{{ form_start(form, {'method': 'POST'}) }}
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-12 col-lg-4">
            {{ form_label(form.ratio_production) }}
            {{ form_widget(form.ratio_production, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="col-12">
            <h2>{{ 'label.type.entreprise.production.title'|trans }}</h2>

            <table class="table table-striped table-bordered" id="ressources_city">
                <thead>
                <tr>
                    <th>{{ 'label.type.entreprise.production.in'|trans }}</th>
                    <th>{{ 'label.type.entreprise.production.out'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="toDuplicate" data-prototype="{{ form_widget(form.productions.vars.prototype)|e('html_attr') }}">
                    {% if form.productions is empty %}
                        <tr class="typeProduction toDuplicate">
                            <td colspan="4" class="actionsbutton"></td>
                        </tr>
                    {% else %}
                        {% for row in form.productions %}
                            <tr class="typeProduction toDuplicate">
                                <td>{{ form_widget(row.ressourcesEntrantes, { 'attr': {'class': 'form-control'} }) }}</td>
                                <td>{{ form_widget(row.ressourcesSortantes, { 'attr': {'class': 'form-control'} }) }}</td>
                                <td class="actionsbutton"></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
            </table>
        </div>
    </div>

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('action.save'|trans) }}
    </button>

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('types_entreprises_admin') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {% endif %}
{{ form_end(form) }}
