{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste customform">
        <h1>{{ 'title.add.ressource'|trans }}</h1>

        {{ include('admin/gestion/typesEntreprises/_form.html.twig', {
            ressources: ressources,
            form: form,
            button_label: 'action.save'|trans,
            include_back_to_home_link: true,
        }, with_context = false) }}
    </main>
{% endblock %}