{% extends 'baseadmin.html.twig' %}

{% block body %}
    <main id="users" class="liste">
        <h2 class="text-center">{{ 'label.type.entreprise.title'|trans }}</h2>
        <a href="{{ path('types_entreprises_add') }}" class="btn btn-link">
            {{ 'title.add.type.entreprise'|trans }}
        </a>

        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">{{ 'label.type.entreprise.title'|trans }}</th>
                    <th scope="col">{{ 'label.ressource.ratio'|trans }}</th>
                    <th scope="col">{{ 'label.type.entreprise.production.title'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for t in types %}
                <tr>
                    <td></td>
                    <td>{{ t.nom }}</td>
                    <td>{{ t.ratioProduction }}%</td>
                    <td>
                        {% for r in t.productions %}
                            <b class="secondary-color">{{ r.ressourcesEntrantes|join(', ') }}</b> >> <b class="red-color">{{ r.ressourcesSortantes }}</b><br />
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('types_entreprises_edit', {id: t.id}) }}" class="btn text-danger">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        {{ include('admin/gestion/typesEntreprises/_delete_form.html.twig', {types: t}, with_context = false) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'errors.no_result'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}