<tr class="">
    <td>
        {{ form_widget(form.villeRessources.form.ressource, { 'attr': {'class': 'form-control'} }) }}
    </td>
    <td>
        {{ form_widget(form.villeRessources.vars.form.quantite, { 'attr': {'class': 'form-control'} }) }}
    </td>
    <td>
        {{ form_widget(form.villeRessources.vars.form.fertilite, { 'attr': {'class': 'form-control'} }) }}
    </td>
</tr>