{% extends 'baseadmin.html.twig' %}

{% block title %}{{ 'label.page.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label.page.edit'|trans }}</h1>

    {{ include('admin/page/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('page_index') }}" class="btn btn-link">
        <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
    </a>

    {{ include('admin/page/_delete_form.html.twig') }}
{% endblock %}
