{% extends 'baseadmin.html.twig' %}

{% block title %}{{ 'title.page'|trans }}{% endblock %}

{% block body %}
    <h2 class="text-center">{{ 'title.page'|trans }}</h2>
    <a href="{{ path('page_new') }}" class="btn btn-link">
        {{ 'label.page.add'|trans }}
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'label.page.titre'|trans }}</th>
                <th>{{ 'label.page.slug'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>{{ page.slug }}</td>
                <td>
                    <a href="{{ path('page_edit', {'id': page.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'errors.no_result'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
