{% extends 'baseadmin.html.twig' %}

{% block title %}{{ 'label.page.add'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label.page.add'|trans }}</h1>

    {{ include('admin/page/_form.html.twig') }}

    <a href="{{ path('page_index') }}" class="btn btn-link">
        <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
    </a>
{% endblock %}
